@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* Dành cho trình duyệt Firefox */
    .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #4A5568 black;
        /* Màu của thumb và track */
    }

    /* Dành cho các trình duyệt Webkit (Chrome, Safari, Edge, etc.) */
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
        /* Làm cho rãnh cuộn trong suốt */
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #4A5568;
        /* Màu xám tối hợp với theme (Tailwind gray-600) */
        border-radius: 20px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: #718096;
        /* Sáng hơn một chút khi hover (Tailwind gray-500) */
    }
}